/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../fonts/Proxima Nova Regular.otf") format("opentype"); }
@font-face {
  font-family: "Proxima Nova Light";
  src: url("../fonts/Proxima Nova Light.otf") format("opentype"); }
@font-face {
  font-family: "Proxima Nova Thin";
  src: url("../fonts/Proxima Nova Thin.otf") format("opentype"); }
@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("../fonts/Proxima Nova Semibold.otf") format("opentype"); }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Grid layout (12 col)*/
* {
  box-sizing: border-box; }

/* For mobile phones: */
[class*="col-"] {
  width: 100%; }

.col-m-1 {
  width: 8.33%; }

.col-m-2 {
  width: 16.66%; }

.col-m-3 {
  width: 25%; }

.col-m-4 {
  width: 33.33%; }

.col-m-5 {
  width: 41.66%; }

.col-m-6 {
  width: 50%; }

.col-m-7 {
  width: 58.33%; }

.col-m-8 {
  width: 66.66%; }

.col-m-9 {
  width: 75%; }

.col-m-10 {
  width: 83.33%; }

.col-m-11 {
  width: 91.66%; }

.col-m-12 {
  width: 100%; }

@media only screen and (min-device-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%; }

  .col-2 {
    width: 16.66%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33%; }

  .col-5 {
    width: 41.66%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33%; }

  .col-8 {
    width: 66.66%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33%; }

  .col-11 {
    width: 91.66%; }

  .col-12 {
    width: 100%; }

  .body-container {
    width: 70%;
    margin: 30px auto; } }
.breadcrumbs {
  width: 70%;
  height: 20px;
  position: relative;
  margin: auto; }
  .breadcrumbs p {
    position: absolute;
    padding: 0 10px;
    font-size: 14px;
    word-spacing: 2px; }

.albumTitle {
  position: relative;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 200px;
  border-radius: 5px; }
  .albumTitle h2 {
    width: 100%;
    font-family: "Proxima Nova Semibold", sans-serif;
    color: #fff;
    font-size: 36px;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    margin: auto;
    bottom: 0;
    padding: 15px; }

@media only screen and (max-device-width: 768px) {
  .body-container {
    width: 100%;
    margin: 30px auto; }

  .m-center {
    text-align: center; }

  .profil-avatar {
    max-width: 50%;
    margin-left: 25%; } }
[class*="col-"] {
  float: left;
  padding: 10px; }

.row::after {
  content: "";
  clear: both;
  display: table; }

/*Grid layout (6 col)*/
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Proxima Nova Regular', sans-serif;
  text-align: center;
  margin: 20px 0; }

body {
  background-color: #ecf0f1;
  margin: 0; }

header {
  height: 90px;
  line-height: 70px;
  background: #fff; }
  header .logo-header {
    float: left; }
    header .logo-header .community-header {
      font-family: 'Proxima Nova Regular', sans-serif;
      color: #333;
      vertical-align: top;
      max-width: 120px;
      display: inline-block;
      line-height: 20px; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto; }

.row:before, .row:after {
  content: "";
  display: table;
  clear: both; }

/*[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 16.66%;
  padding: 12px;
  box-sizing: border-box;
}

.col-1 {
  width: 16.66%;
}

.col-2 {
  width: 33.33%;
}

.col-3 {
  width: 50%;
}

.col-4 {
  width: 66.66%;
}

.col-5 {
  width: 83.33%;
}

.col-6 {
  width: 100%;
}

@media all and (max-width: 800px) {
  .col-1 {
    width: 33.33%;
  }
  .col-2 {
    width: 50%;
  }
  .col-3 {
    width: 83.33%;
  }
  .col-4, .col-5, .col-6, .row .col-5 ~ .col-1 {
    width: 100%;
  }
}

@media all and (max-width: 550px) {
  .col-1 {
    width: 50%;
  }
  .col-2, .col-3, .col-4, .col-5, .col-6 {
    width: 100%;
  }
}*/
/* Header */
header input {
  border: none;
  width: 60%;
  height: 30px;
  font-size: 18px;
  vertical-align: middle; }
  header input:focus {
    outline: none;
    border-bottom: 1px solid lightgray; }
header select {
  border-radius: 5px; }

@media screen and (max-width: 768px) {
  header input {
    font-size: 16px; } }
img {
  max-width: 100%; }

a:not([class*="btn"]),
a:not([class*="btn"]):visited {
  color: #2980b9;
  text-decoration: none; }

a:not([class*="btn"]):hover,
a:not([class*="btn"]):active {
  color: #3498db; }

.logo {
  width: 80px;
  margin-right: 50px; }

.box:nth-of-type(1) {
  text-align: center;
  margin-bottom: 20px; }
.box h3 {
  background-color: #fff;
  padding-left: 10px;
  padding: 10px;
  color: #000;
  margin: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
.box ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0; }
  .box ul li {
    padding-left: 10px;
    padding-top: 5px;
    width: 100%; }
    .box ul li:hover {
      background-color: aliceblue;
      cursor: pointer; }

.button {
  text-align: center;
  border: 1px solid grey;
  width: 40%;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif; }

@media (max-width: 800px) {
  .col-2 {
    width: 100%; } }
footer {
  text-align: center; }

select {
  height: 40px;
  margin: auto;
  width: 100%; }

/* Style CSS */
h1 {
  font-size: 40px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 20px; }

hr {
  margin-top: 20px;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #fff, #bbb, #fff); }

input[type="file"][id="uploadImg"] {
  display: none !important; }

label[for="uploadImg"] {
  font-family: 'Montserrat', sans-serif;
  border: 1px solid lightgray;
  background: #fff;
  width: inherit;
  display: block;
  padding: 5px 15px;
  font-size: 14px;
  margin: 5px 0;
  cursor: pointer;
  text-align: center; }

.align-left,
.align-left * {
  text-align: left; }

.image-center {
  background-image: url(../image/photography.png);
  border: 2px dashed #ddddc6; }
  .image-center img {
    margin: auto;
    display: block; }

.italic {
  font-style: italic; }

.btn,
.btn-timeline-actions {
  border: 1px solid lightgray;
  height: 30px;
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  background: rgba(238, 238, 238, 0.5);
  color: #333;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  border-radius: 3px;
  padding: 0 15px;
  cursor: pointer; }

.btn i.fa {
  line-height: inherit; }

.btn-timeline-actions {
  margin: 4px 8px;
  padding: 0 50px; }

.btn:not(:disabled):hover,
.btn-login:hover,
.btn-signup:hover {
  background: #333;
  color: #efefef;
  transition-duration: .3s; }

.btn-timeline-actions:hover {
  background: rgba(248, 248, 248, 0.5);
  color: #333;
  transition-duration: .3s; }

.form-group input,
.form-group textarea,
.form-group button {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 3px;
  border: 1px solid lightgray;
  padding-left: 15px;
  margin-bottom: 5px; }
.form-group input, .form-group button {
  height: 30px; }
.form-group textarea {
  height: 100px; }
.form-group [type="submit"] {
  cursor: pointer; }
.form-group .g-recaptcha {
  display: table;
  margin: 10px auto;
  transform: scale(1.12); }

#masonry {
  font-size: 0;
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 5px;
  -moz-column-count: 3;
  -moz-column-gap: 5px;
  column-count: 3;
  column-gap: 5px; }
  #masonry img {
    margin: 3px 0;
    transition: .8s opacity;
    width: 100%;
    height: auto; }
  #masonry:hover img {
    opacity: 0.3; }
    #masonry:hover img:hover {
      opacity: 1; }

.flash-container {
  position: fixed;
  right: 1%;
  top: 1%;
  border-spacing: 5px; }
  .flash-container .flash {
    display: table-row;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif; }
    .flash-container .flash .flash-cell {
      cursor: pointer;
      display: none;
      opacity: 0.8;
      padding: 15px;
      margin: 5px;
      vertical-align: middle;
      border: 1px solid transparent;
      border-radius: 4px;
      box-shadow: 1px 1px 10px 2px lightgrey; }
      .flash-container .flash .flash-cell:hover {
        opacity: 1; }
  .flash-container .flash-success .flash-cell {
    background-color: #28b62c;
    border-color: #24a528; }
  .flash-container .flash-warning .flash-cell {
    background-color: #ec9615; }
  .flash-container .flash-error .flash-cell {
    background-color: #ff4136;
    border-color: #ff1103; }

.profil-avatar {
  border: 4px solid lightgray;
  border-radius: 4px;
  overflow: hidden;
  padding: 0; }
  .profil-avatar img {
    vertical-align: middle;
    border-radius: 4px; }
  .profil-avatar p {
    background-color: gainsboro;
    color: #888;
    height: 108px;
    vertical-align: middle;
    display: table-cell; }

/*
Wall (user/wall)
 */
.bio {
  background: white;
  padding: 10px;
  border-radius: 4px; }
  .bio > div {
    display: inline-block; }
  .bio .profil-avatar {
    width: 150px;
    position: relative; }
    .bio .profil-avatar a {
      color: #333; }
    .bio .profil-avatar i.fa {
      position: absolute;
      right: 5px;
      bottom: 5px;
      background: #fff;
      padding: 5px;
      border-radius: 2px;
      border: 1px solid gray;
      cursor: pointer;
      opacity: 0.7; }
    .bio .profil-avatar i.fa:hover {
      opacity: 0.9; }
  .bio .bio-info {
    width: 150px;
    vertical-align: top;
    padding: 5px; }
    .bio .bio-info p {
      text-align: center; }
    .bio .bio-info .username {
      color: #333;
      font-size: 18px; }
    .bio .bio-info .name {
      color: gray;
      font-size: 14px; }
  .bio .bio-other {
    padding: 5px; }
    .bio .bio-other h2 {
      text-align: left; }
    .bio .bio-other p {
      text-align: left; }
      .bio .bio-other p a {
        width: 50px;
        height: 40px;
        display: inline-block;
        border: 1px dashed lightgray;
        border-radius: 3px;
        text-align: center;
        line-height: 40px;
        overflow: hidden;
        background-image: url(../image/photography.png); }
        .bio .bio-other p a img {
          max-height: 40px;
          text-align: center;
          vertical-align: middle;
          border-radius: 3px; }
      .bio .bio-other p > span {
        font-size: 40px;
        vertical-align: top; }
        .bio .bio-other p > span a.wall-more {
          color: #333;
          text-decoration: none; }

.timeline-actions {
  padding: 5px;
  border-radius: 4px;
  background: #E0EAFC;
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
  background: linear-gradient(to right, #CFDEF3, #E0EAFC);
  margin-bottom: 5px; }

.timeline-story {
  padding: 10px;
  border-radius: 4px;
  background: #fff;
  background-image: url(../image/photography.png);
  /* Background pattern from Subtle Patterns */ }
  .timeline-story .no-action {
    font-size: 28px;
    color: #ccc;
    text-shadow: 0 0 1px lightgrey; }
  .timeline-story .story {
    background: rgba(221, 221, 221, 0.3);
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 4px;
    position: relative; }
    .timeline-story .story p {
      text-align: left;
      padding-left: 20px; }
    .timeline-story .story .action-date {
      color: gray;
      font-size: 12px;
      position: absolute;
      top: 10px;
      right: 10px; }

/* User's pictures */
.picture {
  text-align: center; }
  .picture img {
    height: 300px;
    width: 100%;
    object-fit: cover; }
  .picture img:hover {
    outline: 3px dashed #cfcfad; }

/* Album's pictures */
.pictureAlbum {
  position: relative; }
  .pictureAlbum .removePicture {
    background: rgba(0, 0, 0, 0.5);
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 20px;
    right: 25px;
    color: #fff;
    font-size: 20px;
    cursor: pointer; }
  .pictureAlbum .removePicture:hover {
    font-size: 24px;
    color: #e74c3c;
    transition-duration: 0.1s; }

/* Modals */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 90px;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

.modal-header {
  padding: 20px; }
  .modal-header .close {
    color: #aaa;
    float: right;
    font-size: 20px; }
  .modal-header .close:hover,
  .modal-header .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer; }

.modal-body {
  padding: 2px 16px; }
  .modal-body .album-search input {
    width: 55%; }
  .modal-body .album-pictures img {
    max-height: 150px;
    display: inline-block;
    border: 5px solid transparent;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer; }

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 0 150px 0;
  border: 1px solid #888;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; }

/* Comments */
.comment {
  border: 1px solid lightgray;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 1px 8px lightgrey;
  margin: 10px 0; }
  .comment .comment-author {
    text-align: left;
    margin: 0;
    font-style: italic;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    background-color: #E0EAFC; }
    .comment .comment-author .comment-avatar {
      width: 40px;
      vertical-align: middle;
      margin: 0 15px 0 0;
      border-radius: 3px;
      border: 1px solid lightgray; }
    .comment .comment-author .comment-no-avatar {
      color: lightslategray;
      vertical-align: middle;
      margin: 0 5px; }
  .comment .comment-time {
    margin: 0;
    color: gray;
    font-size: 12px;
    position: absolute;
    top: 10px;
    right: 10px; }
  .comment .comment-content {
    text-align: left;
    padding: 0 10px; }

@-webkit-keyframes animatetop {
  from {
    top: -200px;
    opacity: 0; }
  to {
    top: 0px;
    opacity: 1; } }
@keyframes animatetop {
  from {
    top: -200px;
    opacity: 0; }
  to {
    top: 0px;
    opacity: 1; } }
/* fallback for earlier versions of Firefox */
@supports not (flex-wrap: wrap) {
  #masonry {
    display: block; }
    #masonry img {
      display: inline-block;
      vertical-align: top; } }

/*# sourceMappingURL=style.css.map */
