/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Grid layout (6 col)*/
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #ecf0f1;
    margin: 0;
}

header{
    height: 90px;
    line-height: 70px;
    background: #fff;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.row:before,
.row:after {
    content:"";
    display: table ;
    clear:both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 16.66%;
    padding: 12px;
    box-sizing: border-box;
}

.col-1{ width: 16.66%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%;   }

@media all and (max-width:800px){
    .col-1{ width: 33.33%;  }
    .col-2{ width: 50%;     }
    .col-3{ width: 83.33%;  }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;    }


    .row .col-5 ~ .col-1{
        width: 100%;
    }
}

@media all and (max-width:550px){
    .col-1{ width: 50%;     }
    .col-2{ width: 100%;    }
    .col-3{ width: 100%;    }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;    }
}

/* Header */

header input {
    border: none;
    width: 60%;
    height: 30px;
    font-size: 20px;
}

header input:focus {
    outline: none;
    border-bottom: 1px solid lightgray;
}

header i {
    margin: 0 0 0 50px;
}

header select {
    border-radius: 5px;
}

img{
    max-width: 100%;
}
.logo {
    float: left;
    width: 80px;
}
.box:nth-of-type(1){
    text-align: center;
    margin-bottom: 20px;
}
.box h3{
    background-color: #fff;
    padding-left: 10px;
    padding: 10px;
    color: #000;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.box ul{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
.box ul li{
    padding-left: 10px;
    padding-top: 5px;
    width: 100%;
}
.box ul li:hover{
    background-color: aliceblue;
    cursor: pointer;
}
.button{
    text-align: center;
    border: 1px solid grey;
    width: 40%;
    border-radius: 10px;
    background-color: #fff;
    margin: auto;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 800px){
    .col-2 {
        width: 100%;
    }
}
footer{
    text-align: center;
}

select{
    height: 40px;
    margin: auto;
    width: 100%;
}

/* Style CSS */
#masonry {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60vw;
  max-height: 800px;
  font-size: 0;
}
#masonry img {
  width: 30.3%;
  transition: .8s opacity;
  margin: 5px;
}

#masonry:hover img { opacity: 0.3; }
#masonry:hover img:hover { opacity: 1; }

/* fallback for earlier versions of Firefox */

@supports not (flex-wrap: wrap) {
  #masonry { display: block; }
  #masonry img {
  display: inline-block;
  vertical-align: top;
  }
}
